@import url("./reset.css");
@import url("./fonts.css");
@import url("./var.css");
@import url("./nav-menu.css");
@import url("./nav-menu-mobile.css");
@import url("./body.css");
@import url("./body-stack.css");
@import url("./body-projects.css");
@import url("./body-work-learn.css");
@import url("./feedback.css");
@import url("./footer.css");

html,
body {
  background-color: var(--white-back);
}

@media (min-width: 1281px) {
  .nav-menu-mobile {
    display: none;
  }
  .img-projects {
    max-width: 700px;
    max-height: 700px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .nav-menu-mobile {
    display: none;
  }
  .img-projects {
    max-width: 700px;
    max-height: 700px;
  }
}
@media (min-width: 765px) and (max-width: 1024px) {
  .nav-menu {
    display: none;
  }
  .img-projects {
    max-width: 400px;
    max-height: 400px;
  }
}
@media (max-width: 767px) {
  .nav-menu {
    display: none;
  }
  .img-projects {
    max-width: 400px;
    max-height: 400px;
  }
}
