@import url("./reset.css");
@import url("./fonts.css");
@import url("./nav-menu.css");
@import url("./body.css");
@import url("./body-stack-projects.css");
@import url("./body-projects.css");
@import url("./body-work-learn.css");
@import url("./feedback.css");
@import url("./footer.css");


:root{
    --white-back: #D5DADE;
    --black-back: #080707;
    --black-back-light: rgba(151, 133, 133, 0.035);
    --line-color-botom: 
        1px solid
        rgba(150, 142, 142, 0.265);
    --red-text: #ef1e56;
    --black-text: #242427;
    --gray-text: #555;
}

html, body{
    background-color: var(--white-back);
}
